@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f8f9fa;
    line-height: 1.6;
}

.breadcrumbs {
    color: black;
}

.breadcrumbs a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.575);
}

