<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main>
        <section class="book">
            <div class="book-image">

            </div>

            <div class="meta-group">
                <div class="book-title">
                    Book name
                </div>
                <div class="book-author">
                    Book author
                </div>
                 

                <div class="book-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cumque, inventore quae, dignissimos itaque,
                     obcaecati mollitia quidem laborum voluptate ex est
                      facilis ipsum veritatis reiciendis vero veniam 
                      provident tempore eius.
                </div>
                <div class="book-meta2">
                    <div>
                        <div class="book-date">
                            {Publish date}
                        </div>
                        <div class="book-pages">
                            {Book} pages
                        </div>
                    </div>

                    <div class="buttons">
                        <button class="book-borrow">
                            Borrow
                        </button>
                    </div>
                </div>
                
                
            </div>
            
        </section>
    </main>
</body>
</html>